<a href="https://colab.research.google.com/github/iBakhtiyar/HW1new/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age+''#)

What is your name? Bakhtiyar
What is your age? 21
Your name is Bakhtiyar. Your age is 21

In [4]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
a=43
b=54
if(a==b):
 print('These numbers are equal')
else:
 print('These numbers are not equal')

These numbers are not equal

In [5]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
a=43
b=54
if (a>b):
 print('The first number is greater than the second number ')
elif(a<=b):
 print('The first number is equal or less than the second number')

The first number is equal or less than the second number

In [7]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
 print(k)

1
2
3
4
5

In [8]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range (5,0,-1):
 print(k)

5
4
3
2
1

In [12]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range (11):
 if (10-i) !=8 and (10-i) %2 == 0:
 print(10-i)

IndentationError: ignored

In [13]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))


def age(birthyear):
 return(2022- birthyear)
print(age(1944))

78

In [15]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
arithmetic.addition(3,4)
class arithmetic:
 def addition(x,y):
return x+y
arithmetic.addition(3,4)

IndentationError: ignored

In [16]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n= int(input('Enter number'))
sum=0
for num in range(1, n+1, 1):
 sum = sum + num
print('Sum of the first',n, 'numbers are:',sum)

Enter number7
Sum of the first 7 numbers are: 28

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

In [19]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
n=15
n= int(input('Enter number:'))
for i in range(1, n+1):
 if i%3 == 0:
 print(i)

IndentationError: ignored